@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  background: #555;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.primary-button {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.secondary-button {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  cursor: pointer;
  background: transparent;
  padding: 1.5rem;
  border: 1px solid #888;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 1;
}
